*{
	margin: 0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 10vh;
    position: fixed;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(background6.png);
    background-size: cover;
    background-position: center;
}

header.sticky
{
    padding: 25px 0;
    background: #332404;
}
.navbar{
    width: 100%;
    height: 10vh;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-bottom: 5px;
    width: 500px;
    cursor: pointer;
    margin: -50px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #bfab80;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.home{
    background-image: url(background.png);
     background-size: cover;
    background-position: center;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: url(background.png);
    background-size: cover;
    background-position: center;
}


.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 30px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #bfab80;
    cursor: pointer;
    background-color: transparent;
    color: white;
    position: relative;
    overflow: hidden;
}
span{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    background-color: #bfab80;
}
button:hover{
    border: none;
}

/*flavours*/
.flavours{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: url(background2.png);
    background-size: cover;
    background-position: center;
    
}
h1{
    font-size: 65px;
    font-weight: 1200;
    color: #bfab80;
}
p{
    color: #bfab80;
    font-size: 25px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.flavour-col{
    flex-basis: 31%;
    background: #332404;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    color: white;
    text-align: center;
    font-weight: 750;
    margin: 10px 0;
    font-size: 35px;
}
.flavour-col:hover{
    box-shadow: 0 0 20px 0px rgba(255,255,255,0.3);
    transition: 0.5s;
}
/*stores*/
.stores{
    width:100%;
    height: 100vh;
    margin: auto;
    padding-top: 100px;
    background-image: url(background3.png);
    background-size: cover;
    background-position: center;
}
h5{
    font-size: 65px;
    font-weight: 1200;
    color: #332404;
    text-align: left;
    margin-left: 10%;
}
p1{
    margin-left: 10%;
    font-size: 25px;
}
h4{
    color: white;
    text-align: center;
    font-weight: 450;
    margin: 10px 0;
    font-size: 15px;
}

.row1{
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 7.5%;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.store-col1{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)),url(storelocation3.png);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    height: 50vh;
    background-size: cover;
    background-position: left;
}
.store-col2{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)),url(storelocation2.png);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    height: 50vh;
    background-size: cover;
    background-position: left;
}
.store-col3{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)),url(storelocation1.png);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    height: 50vh;
    background-size: cover;
    background-position: left;
}
.store-col1:hover{
    background: #000000;
    transition: 1s;
}
.store-col2:hover{
    background: #000000;
    transition: 1s;
}
.store-col3:hover{
    background: #000000;
    transition: 1s;
}

/*CONTACT*/
.contact{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 100px;
    background-image: url(background4.png);
    background-size: cover;
    background-position: center;
}
h6{
    text-align: right;
    font-size: 65px;
    margin-left: 75%;
    color: #bfab80;
    margin-right: 10%;
}
p2{
    text-align: right;
    font-size: 20px;
    margin-left: 77%;
    color: #bfab80;
    margin-right: 10%;
}

/*sales*/
.sales{
    width: 100%;
    height: 115vh;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background-image: url(background5.png);
    background-size: cover;
    background-position: center;
}

h7{
    text-align: center;
    font-size: 65px;
    color: #332404;
    font-weight: 450;
    font-weight: bold;
}

p3{
     text-align: center;
    font-size: 14px;
    color: #332404;
    font-size: 25px;
}

div1{
    padding-top: 10px;
}

/*experience*/
.experiences{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background-color: #332404;
    background-size: cover;
    background-position: center;
}
.wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.collapsible{
    max-width: 750px;
    min-height: 500px;
    overflow: hidden;
    font-weight: 500;
}
.collapsible input{
    display: none;
}
.collapsible label{
    text-align: center;
    justify-content: space-between;
    position: relative;
    font-weight: 600;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
    color: black;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
    height: 50px;
    font-size: 35px;
}
.collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text {
    max-height: 1000px;
    padding: 25px;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
    opacity: 1;
    top: 0;
    
}

.collapsible-text h8{
    margin-bottom: 10px;
    padding: 20px 20px 0;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;

}



.collapsible-text p4{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: normal;
}
/*footer*/
.footer{
    width: 100%;
    height: 20vh;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    background-position: center;
}

p5{
     text-align: center;
    font-size: 14px;
    color: white;
    font-size: 25px;
}
